/* _____ Variablen _____ */
:root {
    --header-height: 40px;
    --footer-height: 40px;
}

/* ===== Basisstruktur ===== */

body {
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
    margin: 0;
    font-family: sans-serif;
}

header {
    height: var(--header-height);
    width: 100%;
    box-shadow: 0 3px darkgrey;
}

main {
    height: calc(100% - (var(--header-height) + var(--footer-height) + 5px));
    width: 100%;
    overflow-x: scroll;
    position: fixed;
    top: 43px;
    left: 0;
    opacity: 1.0;
    transition: opacity 1s;
}

footer {
    height: var(--footer-height);
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 2px solid orange;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

/* _____ Header _____ */

#toggleView {
    height: 25px;
    width: 25px;
    background: url("images/thumbnails_GI.png") no-repeat;
    background-size: 25px;
    margin-top: 8px;
    margin-right: 15px;
    filter: invert(60%);
    -webkit-filter: invert(60%);
}

#headerText {
    font-size: 25px;
    color: darkgrey;
    padding-left: 10px;
    line-height: var(--header-height);
}

header img {
    width: 25px;
    height: 25px;
    padding-top: 8px;
    filter: invert(60%);
    -webkit-filter: invert(60%);
}

#headerRight {
    margin-right: 5px;
}

#headerLeft {
    margin-left: 5px;
}

/* _____ Main _____ */

#content {
    margin: 0;
    padding: 0;
}

#puffer {
    height: 10px;
    width: 100%;
    background-color: lightgrey;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    border-bottom: 1px solid lightgrey;
    width: 100%;
    height: 110px;
    clear: both;
    padding-top: 10px;
}

li > div {
    padding-left: 10px;
}

.picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.flex {
    display: flex;
}

.flex > span {
    flex-grow: 1;
}

.info {
    color: lightgrey;
    padding-left: 115px;
    padding-right: 10px;
}

.infoTop, .infoFoot {
    font-size: 14px;
}

h2 {
    color: darkgrey;
}

.tag {
    padding-left: 5px;
}

.infoFoot {
}

.infoFoot img{
    width: auto;
    height: 15px;
    -webkit-filter: invert(60%);
}

/* _____ Footer _____ */

footer img {
    width: 25px;
    height: 25px;
    padding-top: 8px;
    filter: invert(60%);
    -webkit-filter: invert(60%);
}

#footerRight {
    margin-right: 5px;
}

#footerLeft {
    margin-left: 5px;
}

/* ===== Transition ===== */

.faded {
    opacity: 0.0;
    transition: opacity 2s;
}

/* ===== Kachelansicht ===== */
/* class "tiles" wird in element "body" eingefuegt */

.tiles main {
    width: 100%;
}

.tiles li .info {
    position: absolute;
    width: 95px;
    height: 95px;
    color: lightgrey;
    padding-left: 0;
    padding-right: 0;
}

.tiles li .infoTop,
.tiles li .infoTop  div,
.tiles li .infoTop  span,
.tiles li .title,
.tiles li .infoFoot > div,
.tiles li .infoFoot > div > div,
.tiles li .infoFoot > div > div > img,
.tiles li .infoFoot > span {
    width: 0;
    height: 0;
    padding: 0;
    visibility: hidden;
    position: absolute;
}


.tiles li {
    width: 95px;
    height: 95px;
    display: inline-block;
    font-size: 0;
    border-bottom: none;
    margin-bottom: 5px;
    margin-left: 5px;
}

.tiles .picture {
    width: 95px;
    height: 95px;
    padding: 0;
    object-fit: cover;
}

.tiles li > .pic {
    padding: 0;
    position: absolute;
}

.tiles .info .infoFoot {
    position: absolute;
    padding: 0;
}

.tiles .option {
    position: absolute;
    left: 82px;
    top: 75px;
}

.tiles #toggleView {
    height: 25px;
    width: 25px;
    background: url("images/list_Gl.png") no-repeat;
    background-size: 25px;
    margin-top: 8px;
    margin-right: 15px;
    filter: invert(60%);
    -webkit-filter: invert(60%);
}